body {

}
.header {
	background: #2f2f2f url(images/headerbg.png) no-repeat bottom center;
	height: 250px;
	text-align: center;
	color: #f64c4c;
}
.header h1 {
	background: transparent url(images/logo.png) no-repeat bottom center;
	height: 90px;
	margin: 98px 0 0;
	font-size: 0;
}
.centercontent {

}
.centercontent .row {
	text-align: center;
	margin-top: 60px;
	padding-bottom: 40px;
}
.centercontent .row .the-icon {
	font-size: 60px;
}
.centercontent .row h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #d4d4d4;
	color: #4c4c4c;
	font-family: 'Roboto Slab', 'serif';
	padding-bottom: 6px;
}
.centercontent .row h2 {
	font-size: 34px;
	font-weight: bold;
	margin: 0;
	font-family: 'Roboto Slab', 'serif';
	margin-top: 14px;
}
.centercontent .promo .the-icon {
	color: #49c46f;
}
.centercontent .promo .the-video {
	margin-top: 20px;
}
.centercontent .promo h2 {
	color: #49c46f;
}
.centercontent .writer .the-icon {
	color: #f25656;
}
.centercontent .the-writer .first,
.centercontent .the-writer .third {
	margin-top: 80px;
}
.centercontent .the-writer p {
	font-family: Georgia;
	color: #494949;
	font-size: 18px;
	margin-top: 8px;
}
.centercontent .writer h2 {
	color: #f25656;
}
.centercontent .buy .the-icon,
.centercontent .buy h2 {
	color: #4487e2;
}
.centercontent .the-stores {

}
.centercontent .the-stores i {
	font-size: 65px;
}
.centercontent .the-stores .first i {
	color: #d9752b;
}
.centercontent .the-stores .second i {
	color: #22c6c4;
}
.centercontent .the-stores .third i {
	color: #14a675;
}
.centercontent .the-stores p{
	font-family: Georgia;
	color: #494949;
	font-size: 18px;
	margin-top: 8px;
}
.centercontent .the-stores .second {
	margin-top: 80px;
}
.centercontent .buy-online .title {
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	font-family: 'Roboto Slab', 'serif';
	text-align: left;
	border-bottom: 1px solid #d4d4d4;
}
.centercontent .buy-online .title i {
	font-size: 46px;
	color: #22c6c4;
	margin-right: 10px;
}
.centercontent .buy-online form.form input {
	font-family: 'Times New Roman';
	font-size: 18px;
	border: 1px solid #D7D7D7;
	background: #ffffff;
	border-radius: 0;
	padding: 10px 12px;
	height: 42px;
	color: #666666;
}
.centercontent .buy-online form.form input::-webkit-input-placeholder {
   color: #cfcfcf;
   font-style: italic;
}

.centercontent .buy-online form.form input:-moz-placeholder { /* Firefox 18- */
   color: #cfcfcf; 
   font-style: italic;
}

.centercontent .buy-online form.form input::-moz-placeholder {  /* Firefox 19+ */
   color: #cfcfcf; 
   font-style: italic;
}

.centercontent .buy-online form.form input:-ms-input-placeholder {  
   color: #cfcfcf; 
   font-style: italic;
}
.centercontent .buy-online form.form {
	text-align: left;
	position: relative;
}
.centercontent .buy-online .instruction {
	text-align: left;
}
.centercontent .buy-online .instruction h4 {
	margin: 0 0 16px;
	font-family: 'Roboto Slab';
	font-size: 18px;
}
.centercontent .buy-online .instruction p {
	font-family: Arial;
	font-size: 13px;
	line-height: 22px;
	color: #333333;
	margin-bottom: 18px;
}
.centercontent .form .row {
	padding-bottom: 0;
  	margin-top: 0;
}
.centercontent .form .overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	background: rgba(255, 255, 255, 0.63);
	left: 0;
	width: 100%;
	text-align: center;
	height: 300px;
	line-height: 150px;
	color: #888;
	font-size: 22px;
	font-family: Times;
	font-style: italic;
}
.footer {
	height: 300px;
}
.footer .copyright {
	border-bottom: 1px solid #2f2f2f;
}
.footer .copyright span,
.footer .copyright a {
	display: block;
	background: #ffffff;
	clear: both;
	width: 220px;
	text-align: center;
	font-family: Arial;
	text-transform: uppercase;
}
.footer .copyright span {
	color: #2b2b2b;
	font-size: 10px;
	margin: 0 auto;
}
.footer .copyright a {
	color: #181818;
	padding: 1px 0 0;
	font-size: 11px;
	margin: 0 auto -15px;
	font-weight: bold;
}
.footer .container {
	font-size: 11px;
	margin-top: 60px;	
	text-transform: uppercase;
	line-height: 20px;
}
.footer .container b {
	font-size: 13px;
}

 
@media screen and (min-width: 980px) /* Desktop */ {
  
}
 
@media screen  and (max-width: 979px) /* Tablet */ {
  
}
 
@media screen and (max-width: 500px) /* Mobile */ {
	.centercontent .row {
		margin-top: 50px;
		padding-bottom: 0;
	}
  	.centercontent .the-writer .first, .centercontent .the-writer .third,
  	.centercontent .the-stores .second {
		margin-top: 0;
  	}
  	.centercontent .the-writer .first, .centercontent .the-writer .second, .centercontent .the-writer .third,
  	.centercontent .the-stores .first, .centercontent .the-stores .second, .centercontent .the-stores .third {
		margin-bottom: 30px;
  	}
  	.centercontent .buy-online form.form {
  		padding-left: 40px;
  		padding-right: 40px;
  	}
  	.centercontent .buy-online .instruction {
  		margin-top: 40px;
  		padding-left: 40px;
  		padding-right: 40px;
  	}
  	.centercontent .buy-online .title {
  		text-align: center;
  	}
  	.footer {
  		margin-top: 40px;
		height: 500px;
  	}
  	.footer .container p {
		text-align: center;
		margin-bottom: 30px;
  	}
}